---
import theme from "@/utilities/theme";
import BaseLayout from "@/layouts/base.astro";
import Logo from "@/components/app/logo.svelte";
---

<BaseLayout class="flex flex-col">
  <div class="flex-none flex justify-center xl:justify-start w-full">
    <Logo
      svgClass="!opacity-50"
      logoStop1={theme["base-100"]}
      logoStop2={theme["base-100"]}
      subTextClass="!opacity-20 hidden xl:flex"
      textClass="!bg-gradient-none !text-base-100 !ml-0 mr-2 opacity-50"
      class="p-2 !gap-0 flex-1 flex justify-center xl:justify-start"
    />
  </div>
  <div class="flex-1 flex items-center justify-center">
    <h2 class="text-6xl font-extrabold opacity-50">404</h2>
  </div>
</BaseLayout>
