---
import Messages from "@/components/app/messages.svelte";
---

<html lang="en" class="bg-base-100/10">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" sizes="any" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <meta name="theme-color" content="#FFFFFF" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>QUEST by Hitachi Solutions</title>
  </head>
  <body>
    <style is:global>
      html {
        @apply h-screen relative tracking-tighter text-base-content font-sans font-normal text-base min-h-full flex flex-col;
      }
      body {
        @apply !contents;
      }
      video {
        @apply max-w-none;
      }
      @font-face {
        font-weight: 900;
        font-family: "Galano Grotesque";
        src: url("/fonts/galano-grotesque/GalanoGrotesqueBlack.otf");
      }
    </style>
    <slot />
    <Messages client:only="svelte" />
    <script>
      import "iconify-icon";
    </script>
  </body>
</html>
