---
import BaseLayout from "@/layouts/base.astro";
import Nav from "@/components/app/nav.svelte";
import { getSession } from "auth-astro/server";
import Logo from "@/components/app/logo.svelte";
import AuthMenu from "@/components/app/auth-menu.svelte";

const session = await getSession(Astro.request);
const fname = session?.user?.name?.split(" ")[0] ?? "";
const lname = session?.user?.name?.split(" ")[1] ?? "";
const image = session?.user?.image ?? "";

const { class: className } = Astro.props;
---

<BaseLayout>
  <main
    class="grid grid-rows-[4rem,auto] grid-cols-[4rem,auto] max-h-screen h-full"
  >
    <div class="navbar bg-neutral border-b border-neutral-200 col-span-2">
      <div class="flex-1">
        <Logo />
      </div>
      <AuthMenu client:visible {fname} {lname} {image} />
    </div>
    <Nav client:visible />
    <div
      class={`relative overflow-auto max-h-[calc(100vh-4rem)] ${className ?? ""}`}
    >
      <slot />
    </div>
  </main>
</BaseLayout>
